.gallery {
  text-align: center;
  margin-bottom: 3rem !important;
  width: 100%; /* Ensure full width */
}

.zoomOverlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.75);
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: zoom-out;
  border: none;
  padding: 0;
}

.zoomedImage {
  max-width: 90%;
  max-height: 90%;
  object-fit: contain;
}
